<%- include('../layouts/header', {title : 'Lista de tarefas'}) %>

<%- include('../layouts/menu') %>

<section class="section">
    <div class="header">
          <h1 class="title size-4">Listas de Tarefas</h1>
          <a href="/checklists/new" class="button is-success">Nova Lista</a>
    </div>
    
      <div class="columns">
        <% checklists.forEach(checklist => { %>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                <%= checklist.name %>
              </p>
              <p class="subtitle">
                <%= checklist.tasks.length %> tarefas
              </p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                  <a href="/checklists/<%= checklist._id %>" class="linkBtn">Ver</a>
              </p>
              <p class="card-footer-item">
                  <a href="/checklists/<%= checklist.id %>/edit" class="linkBtn">Editar</a>
              </p>
              <p class="card-footer-item">
                  <a href="/checklists/<%= checklist.id %>?_method=delete" class="has-text-danger">Remover<a>
              </p>
            </footer>
          </div>
        </div>
        <% }) %>
      </div>
  </section>

<%- include('../layouts/footer') %>
