<%- include('../layouts/header', {title : checklist.name}) %> 
<%- include('../layouts/menu') %>

<section class="section">
    <div class="header">
        <h1 class="title"><%= checklist.name %></h1>
      <div class="buttons">
        <a
          href="/checklists/<%= checklist._id%>/tasks/new"
          class="button is-success"
          >Nova Tarefa</a
        >
        <button class="button back-button"><a href="/checklists" class="back-button">Voltar</a></button>
      </div>
    </div>

    <div class="tasks">
      <% checklist.tasks.forEach(task => { %>
      <div class="task">
        <div
          class="<%= task.done ? 'has-text-success is-italic' : ''%>"
        >
          <input type="checkbox" onchange="setTagAsDone(this,'<%= task._id %>')"
          <%= task.done ? 'checked' : '' %> />
          <%= task.name %>
        </div>
          <a
            href="/tasks/<%= task._id %>?_method=delete"
            class="button is-danger"
            >Remover</a
          >
      </div>
      <% }) %>
    </div>
</section>

<%- include('../layouts/footer') %>
